<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>index</title>

  <script src="../static/jquery/jquery-3.5.1.min.js"></script>
  <!-- vue 整合 -->
  <script type="text/javascript" src="../static/vue/vue.js"></script>
  <script type="text/javascript" src="../static/vue/axios.min.js"></script>

  <!--bootstrap-->
  <script src="../static/bootstrapt/js/bootstrap.js"></script>
  <link rel="stylesheet" href="../static/bootstrapt/css/bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrapt/css/bootstrap-theme.css">

  <link rel="stylesheet" href="../static/css/CommunityPublish.css">

  <script type="text/javascript" src="../static/js/login.js"></script>
  <script type="text/javascript" src="../static/js/include.js"></script>
  <script type="text/javascript" src="../static/js/publish.js"></script>


</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">


    <div id="HTML_HEADER">

    </div>


  </div><!-- /.container-fluid -->

  <div class="container-fluid" style="padding: 25px; ">
    <div class="row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="articleEdit">
        <h2><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 发起</h2>

        <!--不是表单的表单-->
        <form @submit.prevent="submitArticle($event)"  >
          <div class="form-group">
            <label for="title">文章标题: </label>
            <input type="text" class="form-control" v-model="article.title" id="title" name="title" placeholder="输入标题">
          </div>

          <div class="form-group">
            <label for="title">文章简介: </label>
            <input type="text" class="form-control" v-model="article.introduction" id="introduction" name="introduction" placeholder="输入简介">
          </div>

          <div class="form-group">
            <label for="description">文章正文: </label>
            <textarea name="description" style="resize:none" v-model="article.description" rows="30" class="form-control" id="description"
                      placeholder="输入"></textarea>
          </div>


          <div class="form-group">
            <label for="addTag">添加标签: </label>
            <input type="text" v-model="article.tag" class="form-control" id="addTag" name="tag" placeholder="添加标签">
          </div>

          <div class="container-fluid">

            <span class="alert alert-danger errorTip" v-show="error.errorDisplay"  role="alert">{{error.message}}</span>
            <button type="submit"  class="btn btn-success btn_publish">发布</button>
          </div>
        </form>



      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <h1>发起问题指南</h1><br>
        <ul>
          <li><h2>1 . 严禁涉及国际问题</h2></li>
          <li><h2>1 . 严禁涉及国际问题</h2></li>
          <li><h2>1 . 严禁涉及国际问题</h2></li>
          <li><h2>1 . 严禁涉及国际问题</h2></li>
          <li><h2>1 . 严禁涉及国际问题</h2></li>
          <li><h2>1 . 严禁涉及国际问题</h2></li>
          <li><h2>1 . 严禁涉及国际问题</h2></li>
          <li><h2>1 . 严禁涉及国际问题</h2></li>

        </ul>

      </div>
    </div>
  </div>
</nav>
</body>
</html>


